ol, ul, li {list-style:none;} img, fieldset {border:0 none;}
input[type=text], input[type=password], input[type=submit], input[type=search], textarea {-webkit-appearance:none;outline: 0;border:0;}
input:focus, select:focus {outline:0 none;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {/* WebKit browsers */color:transparent;}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder {/* Mozilla Firefox 4 to 18 */color:transparent;}
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder {/* Mozilla Firefox 19+ */color:transparent;}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder {/* Internet Explorer 10+ */color:transparent;}
button {border:0 none; background:transparent; cursor:pointer;}
table caption {width:0; height:0; visibility:hidden; font-size:0; line-height:0;}
table {border-collapse:collapse; border-spacing:0;}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;}
a {text-decoration:none;color:#000;}
body {
  background:transparent;line-height:1.15;letter-spacing:-0.3px;
  font-family:Helvetica,AppleSDGothicNeo,Arial,sans-serif;
  -webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;word-break:break-all;/*-webkit-user-select:none;*/
}
*{
  margin:0;
  padding:0;
}
/* select */
select,input {
  border-style:none;
  background-color:transparent;
  border-radius: 0;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
select::-ms-expand { display: none; }

/* sass 변수 정의  *//************************************************************/
@function px2rem($px) {
  $rem: 64px;
  @return ($px / $rem) + rem;
}

  /* 컬러 컨셉 이분분에서 수정 */
$theme_1_color: #FFB4B4; /* 태마 컨셉 컬러 */
$theme_btn_border_color: #DB9191; /* 태마 컨셉 컬러의 어두운 컬러로 버튼 테두리 컬러*/
$theme_1_line: #303030; /* 태마 컨셉 라인 & 폰트 컬러 */
$dark: #303030; /* 태마 일반 dark 폰트 컬러 */
$light: #fff; /* light 폰트 컬러 */

$folderAmount_color: #FFB4B4; /* nav 폴더수자 배경 컬러 */
$subCategory_color: #E7F3F7; /* sub category off 일때 배경 컬러 */

$details_select_option_bg: #303030; /* 상품 상세 하단 셀렉 박스 선택 될때 배경 컬러 */
$details_select_option_fc: #FFB4B4; /* 상품 상세 하단 셀렉 박스 선택 될때 폰트 컬러 */

/*  태마 일반  *******************************/

p,a,div,li,input {
  color:$dark;
}
body {
  background-color:#F9F9F9;
}

/* ************************************************************************************/

/* common */
[v-cloak]{ opacity: 0; }

.bg_cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* popup */
.modal {
  z-index:20;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.bg_shadow {
  width: 100%;
  height:100%;
  background-color:rgba(0,0,0,.5);
}

.modal_box {
  width:px2rem(480px);
  background-color:#fff;
}

/* animate */

.bounce_a-enter-active {
  animation: bounce-in .5s;
}
.bounce_a-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: translate(100%,0);
  }
  50% {
    transform: translate(-30%,0);
  }
  100% {
    transform: translate(0,0);
  }
}

/* flex */

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_row_center {
  display: flex;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 공통 요소 */

/* icon */
.icon_down {
  font-weight: bold;
  transform: rotate(90deg);
  color:$theme_1_line;
}
.icon_right {
  font-size: px2rem(20px);
}

.container {
  width:100%;
  overflow-x: hidden;
}

.nav {
  z-index:20;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: px2rem(76px);
  background-color: #fff;
  box-sizing: border-box;
  border:px2rem(1px) solid #D6D6D6;

  a {
    position:absolute;
    width: px2rem(76px);
    height: 100%;
  }

  .btn_back {
    left:px2rem(10px);
    img {
      width: px2rem(35px);
    }
  }
  .title {
    font-weight: bold;
    font-size: px2rem(31px);
  }
  .btn_coupon_box {
    right:px2rem(10px);
    img {
      width:px2rem(28px);
    }
  }
}

/* section  header*/
.section {
  position:relative;
  top:px2rem(76px);

  .header {
    background-color:$theme_1_color;
    padding-top:px2rem(28px);
  }

  .select_group {
    ul {
      padding-left:px2rem(15px);
      li {
        position:relative;
        width:px2rem(168px);
        height:px2rem(45px);
        margin-left:px2rem(16px);
        border:px2rem(2px) solid $theme_1_line;
        select {
          position:relative;
          width:px2rem(160px);
          padding-left:px2rem(8px);
          height:100%;
          font-size: px2rem(20px);
          color:$theme_1_line;
        }
        .icon_down {
          position:absolute;
          right:px2rem(12px);
          line-height:px2rem(45px);
          font-size:px2rem(10px);
        }
      }
    }
  }

  .btn_menu {
    position:absolute;
    top:px2rem(8px);
    right:0;
    height:px2rem(68px);
    p {
      font-size: px2rem(20px);
      margin-right:px2rem(22px);
    }
    .icon_menu_group {
      width:px2rem(28.5px);
      height:px2rem(28.5px);
      justify-content: space-between;
      li {
        width:100%;
        height:px2rem(4px);
        background-color:$theme_1_line;
      }
    }
  }

  .category_banner {
    width: 100%;
    overflow-x: auto;
    padding:px2rem(43px) 0 px2rem(17px);
  }
}

.category_list {
  padding:0 px2rem(17px) 0;
  white-space: nowrap;
  li {
    display: inline-block;
    width: px2rem(90px);
    margin: 0 px2rem(16px);
    a {
      width: 100%;
    }
    &.on {
      .icon_menu {
        opacity: 1;
      }
    }
  }
  .icon_menu_bg {
    width: 100%;
    height: px2rem(90px);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
  }
  .icon_menu {
    width:100%;
    height:100%;
    opacity: .4;
  }
  .name_menu {
    width:100%;
    margin-top:px2rem(7px);
    text-align: center;
    white-space: pre-wrap;
    font-weight:300;
    font-size: px2rem(20px);
    color:$light;
  }
}

.category_box {
  transform: translate(130%,0);
  transition: all .2s;
  .bg_shadow {
    padding-top:px2rem(120px);
  }
  .modal_box {
    position:relative;
    width:px2rem(593px);
    background-color: $theme_1_color;
    border-radius: px2rem(14px);
    padding:px2rem(103px) 0 px2rem(12px);

    .btn_close {
      position:absolute;
      top:0;
      right:px2rem(-20px);
      width: px2rem(78px);
      height:px2rem(78px);
      font-size: px2rem(56px);
      font-weight: lighter;
      color: $light;
    }
  }

  .category_list {
    padding:0 px2rem(36px);
    white-space: normal;
    li {
      width: px2rem(98px);
      margin-bottom:px2rem(34px);
    }
    .icon_menu_bg {
      width: 100%;
      height: px2rem(98px);
    }
    .icon_menu {
      opacity: 1;
    }
    &.perline_5 {
      padding:0 px2rem(39px);
      li {
        width: px2rem(83px);
        margin-right:px2rem(10px);
        margin-left:px2rem(10px);
      }
      .icon_menu_bg {
        height: px2rem(83px);
      }
    }
  }
  &.menu_show {
    //opacity:1;
    transform: translate(0,0);
  }
}

/* common mark box */
.common_mark_box {
  position:absolute;
  top:0;
  right:px2rem(31.5px);
  .mark_product {
    position:absolute;
    width:px2rem(70.3px);
  }
  .icon_category {
    position:relative;
    width:px2rem(55px);
    margin-top:px2rem(-8px);
  }
  .mark_text {
    margin-top:px2rem(-8px);
    font-size: px2rem(24px);
    font-weight: bold;
    position:relative;

  }
}

/* sub category */

.category_menu {
  height:px2rem(77px);
  border-top:px2rem(1px) solid rgba(0,0,0,.25);
  li {
    background-color:$subCategory_color;
    width:100%;
    height:100%;
    border-bottom:px2rem(1px) solid rgba(0,0,0,.25);
    border-right: px2rem(1px) solid rgba(0,0,0,.25);
    a {
      width:100%;
      height:100%;
      font-size: px2rem(24px);
      opacity: 0.5;
    }
    &.on {
      border-bottom-color:#fff;
      background-color: #fff;
      a {
        opacity: 1;
      }
    }
  }
}

/* loading more */
.loading_more {
  p {
    font-size: px2rem(22px);
    margin-left:px2rem(14px);
  }
  .move_circle {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    position: relative;
    overflow: hidden;
    .icon_loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-animation: loading_circle_spin 1s infinite linear;
      animation: loading_circle_spin 1s infinite linear;
    }
  }
  @keyframes loading_circle_spin {
    from {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}

/* button btn_container */
.btn_container {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background-color:$theme_1_color;

  .btn_box {
    height:px2rem(62px);
    padding:px2rem(22px) px2rem(22px) px2rem(20px);
  }

  .btn_item {
    width:100%;
    height:100%;
    a {
      width:100%;
      height:100%;
      border:px2rem(1px) solid $theme_btn_border_color;
      box-shadow: 0 px2rem(3px) px2rem(5px) rgba(34,0,0,.16);
    }
    p {
      width:100%;
      height:100%;
      text-align: center;
      font-weight: bold;
      font-size: px2rem(28px);
      border-top:px2rem(1px) solid rgba(255,255,255,.7);
      border-left:px2rem(1px) solid rgba(255,255,255,.7);
      box-sizing: border-box;
    }
  }

  .btn_left {
    margin-right:px2rem(20px);
  }
}





