@charset "UTF-8";
/* sass 변수 정의  */
/************************************************************/
/* 컬러 컨셉 이분분에서 수정 */
/* 태마 컨셉 컬러 */
/* 태마 컨셉 라인 & 폰트 컬러 */
/* 태마 일반 dark 폰트 컬러 */
/* light 폰트 컬러 */
.container {
  /* coupon_wallet.html */
  /* 공통 */ }
  .container .section .show_motion:nth-child(1) {
    animation: showAnimate .5s ease-out; }
  .container .section .show_motion:nth-child(2) {
    animation: showAnimate .6s ease-out; }
  .container .section .show_motion:nth-child(3) {
    animation: showAnimate .7s ease-out; }
  .container .section .show_motion:nth-child(4) {
    animation: showAnimate .8s ease-out; }
@keyframes showAnimate {
  0% {
    transform: translate(0, 300%); }
  80% {
    transform: translate(0, -13%); }
  100% {
    transform: translate(0, 0); } }
  .container .article {
    position: relative;
    width: 100%; }
    .container .article .bg_box {
      position: absolute;
      height: 100%;
      overflow: hidden; }
    .container .article img {
      position: absolute; }
  .container .article_1 {
    height: 5.15625rem; }
    .container .article_1 .bg_box {
      display: block;
      width: 100%;
      background-color: #FBDA33; }
    .container .article_1 .logo_emart {
      position: static;
      width: 3.078125rem;
      margin-top: 0.90625rem;
      margin-left: 0.8125rem; }
    .container .article_1 .content {
      padding-top: 0.3125rem;
      padding-left: 0.8125rem; }
      .container .article_1 .content .title {
        line-height: 0.453125rem;
        font-weight: bold;
        font-size: 0.375rem; }
      .container .article_1 .content .text {
        line-height: 0.34375rem;
        font-size: 0.234375rem; }
    .container .article_1 .shap_1 {
      top: 0.921875rem;
      right: 0;
      width: 3.484375rem; }
    .container .article_1 .img_emart_1 {
      top: 2.296875rem;
      right: 0.53125rem;
      width: 4.8125rem; }
  .container .article_2 {
    height: 5.625rem;
    top: -0.828125rem; }
    .container .article_2 .bg_box {
      left: -0.5625rem;
      width: 11.25rem;
      background-color: #fff;
      transform: rotate(-8deg); }
    .container .article_2 .logo_ja {
      top: 0.84375rem;
      left: 1.6875rem;
      width: 7.5625rem; }
  .container .article_3 {
    height: 3.515625rem;
    top: -2.875rem; }
    .container .article_3 .bg_box {
      left: -0.5625rem;
      width: 11.25rem;
      background-color: #F79300;
      transform: rotate(-8deg); }
    .container .article_3 .logo_cui {
      top: 0.625rem;
      left: 5.1875rem;
      width: 0.5625rem;
      transform: rotate(8deg); }
    .container .article_3 .content {
      position: absolute;
      top: 0.625rem;
      left: 6.28125rem;
      transform: rotate(9deg); }
      .container .article_3 .content p {
        color: #fff; }
      .container .article_3 .content .title {
        line-height: 0.46875rem;
        font-weight: bold;
        font-size: 0.390625rem;
        margin-bottom: 0.09375rem; }
      .container .article_3 .content .text {
        line-height: 0.34375rem;
        font-size: 0.234375rem; }
  .container .article_4 {
    height: 7.71875rem;
    top: -4.65625rem; }
    .container .article_4 .bg_box {
      left: -0.90625rem;
      width: 11.0625rem;
      transform: rotate(12deg); }
    .container .article_4 .img_golf {
      top: -2.03125rem;
      left: 0;
      width: 11.0625rem; }
    .container .article_4 .shap_2 {
      left: 0;
      top: 1.6875rem;
      width: 3.3125rem;
      transform: rotate(-12deg); }
    .container .article_4 .content {
      position: absolute;
      top: 1.40625rem;
      left: 6.09375rem;
      transform: rotate(-12deg); }
      .container .article_4 .content p {
        color: #fff; }
      .container .article_4 .content .title {
        line-height: 0.484375rem;
        font-weight: bold;
        font-size: 0.40625rem;
        margin-bottom: 0.09375rem; }
      .container .article_4 .content .text {
        line-height: 0.34375rem;
        font-size: 0.234375rem; }
  .container .bottom {
    width: 100%;
    top: -8.53125rem;
    left: -0.59375rem;
    width: 11.25rem;
    height: 1.796875rem;
    background-color: #00498C;
    transform: rotate(9deg); }
    .container .bottom .h2 {
      padding-left: 1.46875rem;
      padding-top: 0.4375rem;
      font-size: 0.390625rem;
      font-weight: bold;
      color: #fff;
      transform: rotate(-9deg); }
  .container .category {
    position: relative;
    z-index: 10;
    width: 100%;
    background-color: #00498C;
    margin-top: -9.375rem; }
    .container .category ul {
      padding-top: 0.359375rem;
      padding-left: 0.84375rem; }
      .container .category ul li {
        float: left;
        width: 1.6171875rem;
        margin-right: 0.5546875rem; }
      .container .category ul a {
        display: inline-block;
        width: 100%;
        height: 100%; }
      .container .category ul p {
        text-align: center;
        font-size: 0.34375rem;
        color: #fff; }
      .container .category ul img {
        height: 1.6171875rem;
        height: 1.6171875rem;
        margin-bottom: 0.15625rem; }
    .container .category .category_all {
      padding-bottom: 0.21875rem; }
      .container .category .category_all a {
        width: 100%;
        height: 100%;
        padding-top: 0.46875rem; }
      .container .category .category_all p {
        font-weight: bold;
        font-size: 0.328125rem;
        color: #fff;
        text-align: center; }
      .container .category .category_all img {
        display: block;
        width: 0.1890625rem;
        margin: 0.15625rem auto 0; }
  .container footer {
    position: relative;
    top: 1.09375rem;
    left: 0;
    padding: 0.65625rem 0.453125rem 0.453125rem;
    background-color: #444444; }
    .container footer p {
      line-height: 0.546875rem;
      font-size: 0.375rem;
      color: #fff; }
    .container footer .content {
      margin-bottom: 0.546875rem; }
    .container footer a:hover p {
      color: #00498C; }
    .container footer a p {
      padding: 0.453125rem;
      margin-left: -0.453125rem;
      margin-bottom: 0.906250rem; /* 2018-04-13 수정 */
      text-decoration: underline;

    }



/* 2018-04-13 */

.container_box{

  overflow: hidden;

}